@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #195697; /* Your primary color */
  --secondary-color: #51ace1; /* Your secondary color */
}

body {
  margin: 0;
  padding:0;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

